close_window q

move_right h
move_left  l

prev_state H
next_state L

next_page J
previous_page K

screen_down <C-d>
screen_up <C-u>

next_state <C-i>
prev_state <C-o>

open_document_embedded o
open_document_embedded_from_current_path <C-O>

toggle_dark_mode <C-r>

# toggle_visual_scroll V
focus_text V
